<head>
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="https://kit.fontawesome.com/e44aca08ad.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <ul>
        <li>
            <a href="#">Gao's blogs</a>
        </li>
        <li>
            <p>&copy; 2024 Gao's blogs. All rights reserved</p>
        </li>
        <li>
            <a href="https://github.com/Gaonavak" target="_blank">
                <i class="fa-brands fa-github" ></i>
            </a>
            <a href="#" onclick="alert('待设置。。。')">
                <i class="fa-solid fa-envelope-open"></i>
            </a>
        </li>
    </ul>
</body>