<head>
    <link rel="stylesheet" href="./skill.css">
</head>

<body>
    <div class="tagcloud-wrapper" style="background: transparent;">
        <div class="tagcloud-controls" style="--num-elements: 20">
            <div class="tagcloud-control-button" style="--index: 1"><input type="radio" name="tagcloud-control-input">
            </div>
            <div class="tagcloud-control-button" style="--index: 2"><input type="radio" name="tagcloud-control-input">
            </div>
            <div class="tagcloud-control-button" style="--index: 3"><input type="radio" name="tagcloud-control-input">
            </div>
            <div class="tagcloud-control-button" style="--index: 4"><input type="radio" name="tagcloud-control-input">
            </div>
            <div class="tagcloud-control-button" style="--index: 5"><input type="radio" name="tagcloud-control-input">
            </div>
            <div class="tagcloud-control-button" style="--index: 6"><input type="radio" name="tagcloud-control-input">
            </div>
            <div class="tagcloud-control-button" style="--index: 7"><input type="radio" name="tagcloud-control-input">
            </div>
            <div class="tagcloud-control-button" style="--index: 8"><input type="radio" name="tagcloud-control-input">
            </div>

            <div class="tagcloud-rotation">
                <ul class="tagcloud-tags" style="--num-elements: 17">
                    <li class="tagcloud-tag" style="--index: 1">
                        <div><a href="https://vuejs.org/" target="_blank">Vue.js</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 2">
                        <div><a href="https://nodejs.org/en/" target="_blank">Node.js</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 3">
                        <div><a href="https://www.oracle.com/java/" target="_blank">Java</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 4">
                        <div><a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">C#</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 5">
                        <div><a href="https://learn.microsoft.com/en-us/dotnet/desktop/wpf/" target="_blank">WPF</a>
                        </div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 6">
                        <div><a href="https://en.cppreference.com/w/" target="_blank">C++/C</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 7">
                        <div><a href="https://www.python.org/" target="_blank">Python</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 8">
                        <div><a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 9">
                        <div><a href="https://www.docker.com/" target="_blank">Docker</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 10">
                        <div><a href="https://git-scm.com/" target="_blank">Git</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 11">
                        <div><a href="https://github.com/" target="_blank">GitHub</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 12">
                        <div><a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ IDEA</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 13">
                        <div><a href="https://code.visualstudio.com/" target="_blank">VSCode</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 14">
                        <div><a href="https://www.mysql.com/" target="_blank">MySQL</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 15">
                        <div><a href="https://www.linux.org/" target="_blank">Linux</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 16">
                        <div><a href="https://www.javascript.com/" target="_blank">JavaScript</a></div>
                    </li>
                    <li class="tagcloud-tag" style="--index: 17">
                        <div><a href="https://www.markdownguide.org/" target="_blank">Markdown</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</body>