@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap');
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #eee;

}

h1 {
    color: #333;
    font-family: "Sixtyfour Convergence", serif;
    font-weight: bold;
    font-size: clamp(30px,4vw,45px);
}
h2 {
    color: #555;
    margin-top: 20px;
}

p {
    margin: 10px 0;
    font-size: clamp(15px,2.5vw,20px);
}
